<header class="nk-header nk-header-opaque">
    <!--
        START: Navbar
    -->
    <nav class="nk-navbar nk-navbar-top">
        <div class="container">
            <div class="nk-nav-table">
                <a class="nk-nav-logo">
                    <!-- <img src="assets/images/logo-light.svg" alt="" width="85" class="nk-nav-logo-onscroll"> -->
                    <img src="assets/images/user.png" alt="" width="85">
                </a>
                <a class="col-3">
                    <h3>User Name : {{transaction.loginUserDate.userName}}</h3>
                    <h3>Name : {{transaction.loginUserDate.name}}</h3>
                    <h3>Email : {{transaction.loginUserDate.email}}</h3>
                    <h3>Phone Number : {{transaction.loginUserDate.phoneNumber}}</h3>
                </a>

                <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">
                    <li>
                        <a ui-sref="home">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END: Navbar -->

</header>
<div class="nk-main">
    <div class="container">

        <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols" ng-repeat="book in  transaction.transactionList track by $index">


            <div class="nk-isotope-item">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('{{book.imgUrl}}');"></div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="portfolio-item-title h3"> Book Id: {{book.bookId}}</h3>
                <h3 class="portfolio-item-title h3"> Book Title: {{book.bookTitle}}</h3>
                <h3 class="portfolio-item-category"> Book Author: {{book.author}}</h3>
                <h3 class="portfolio-item-category"> Book Topic: {{book.topic}}</h3>
                <h3 class="portfolio-item-category"> Book Issue To: {{book.user.name}}</h3>
                <h3 class="portfolio-item-category"> Book Issue Date: {{book.issueDate | date}}</h3>
                <h3 class="portfolio-item-category"> Book Return Date: {{book.returnDate}}</h3>
                <h3 class="portfolio-item-category"> Action : {{book.type}}</h3>
            </div>

        </div>

        <div class="nk-gap-4"></div>
    </div>
</div>

<!-- Modal Issue Book -->
<div class="modal fade" id="bookModel" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 ng-if="home.book.status === 'Available'" class="modal-title">Issue Book</h4>
                <h4 ng-if="home.book.status === 'Unavailable'" class="modal-title">Return Book</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols">


                        <div class="nk-isotope-item">
                            <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                                <div class="nk-portfolio-item-image">
                                    <div style="background-image: url('{{home.book.imgUrl}}');"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 class="portfolio-item-title h3"> Book Id: {{home.book.bookId}}</h3>
                            <h3 class="portfolio-item-title h3"> Book Title: {{home.book.bookTitle}}</h3>
                            <h3 class="portfolio-item-category"> Book Author: {{home.book.author}}</h3>
                            <h3 class="portfolio-item-category"> Book Topic: {{home.book.topic}}</h3>
                            <div ng-if="home.book.status === 'Available'">
                                Select User: <select ng-model="home.selectedUserName" ng-options="user.userName for user in home.userList"></select>
                                <div ng-if="home.selectedUserName">
                                    <h3 class="portfolio-item-title h3"> User Name: {{home.selectedUserName.userName}}</h3>
                                    <h3 class="portfolio-item-title h3"> Name: {{home.selectedUserName.name}}</h3>
                                    <h3 class="portfolio-item-category"> Email Id: {{home.selectedUserName.email}}</h3>
                                    <h3 class="portfolio-item-category"> Phone Number: {{home.selectedUserName.phone}}</h3>
                                    <h3 class="portfolio-item-category">Issue Date : {{home.currentDate | date}}</h3>
                                    Return Date : <input type="text" ng-model="home.returnDate" required>
                                    <button ng-if="home.returnDate" type="button" class="btn btn-default" color="grey" data-dismiss="modal" ng-click="home.issueBook()">Issue Book</button>
                                </div>
                            </div>
                            <div ng-if="home.book.status === 'Unavailable'">
                                <h3 class="portfolio-item-title h3"> User Name: {{home.book.user.userName}}</h3>
                                <h3 class="portfolio-item-title h3"> Name: {{home.book.user.name}}</h3>
                                <h3 class="portfolio-item-category"> Email Id: {{home.book.user.email}}</h3>
                                <h3 class="portfolio-item-category"> Phone Number: {{home.book.user.phone}}</h3>
                                <h3 class="portfolio-item-category">Issue Date : {{home.book.issueDate | date}}</h3>
                                <h3 class="portfolio-item-category">Return Date : {{home.book.returnDate}}</h3>
                                <button type="button" class="btn btn-default" color="grey" data-dismiss="modal" ng-click="home.returneBook()">Return Book</button>
                            </div>
                        </div>

                    </div>
                </form>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
            </div>
        </div>

    </div>
</div>